{% extends 'base.html' %}
{% block title %}Income{% endblock %}

{% block content %}

<hr class="my-4">

<!-- Expenses Section (Full Width) -->
<div class="row">
    <div class="col-12 mb-4">
        <div class="card text-white shadow-sm p-4">
            <div class="d-flex justify-content-between">
                <h4 class="card-title mb-0">All Incomes</h4>
                <div>
                    <a href="{% url 'income-add' %}" class="btn btn-sm btn-success">Add Income</a>
                    <a href="{% url 'category-add' %}" class="btn btn-sm btn-success">Add Category</a>
                </div>
            </div>
            <hr>

            <div class="table-responsive">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Category</th>
                            <th scope="col">Date</th>
                            <th scope="col">Description</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for income in incomes %}  
                        <tr class="text-white-50">
                            <th scope="row">{{income.id}}</th>
                            <td>₹{{income.amount}}</td>
                            <td><span class="badge rounded-pill bg-success">{{income.category}}</span></td>
                            <td>{{income.date}}</td>
                            <td>{% if income.description %}  {{income.description}} {% else %}  None  {% endif %}</td>
                            <td><a href="{% url 'income-update' income.id %}" style="text-decoration: none">Update/Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
            
            <!-- Total and View All Link -->
            <hr class="my-2">
            <div class="d-flex justify-content-between mt-3">
                <p class="mb-0 text-danger">Total Expenses: ₹{{ request.user.total_expense }}</p>
            </div>
        </div>
    </div>
</div>


<script>
    
</script>

{% endblock %}