{% extends 'base.html' %}
{% block title %}Expenes{% endblock %}

{% block content %}

<hr class="my-4">

<!-- Expenses Section (Full Width) -->
<div class="row">
    <div class="col-12 mb-4">
        <div class="card text-white shadow-sm p-4">
            <div class="d-flex justify-content-between">
                <h4 class="card-title mb-0">All Expenses</h4>
                <div>
                    <a href="{% url 'expense-add' %}" class="btn btn-sm btn-success">Add Expense</a>
                    <a href="{% url 'category-add' %}" class="btn btn-sm btn-success">Add Category</a>
                </div>
            </div>
            
            <hr>

            <!-- Filter Options -->
            <form method="POST" class="d-flex flex-wrap align-items-center">
                {% csrf_token %}
                
                <!-- Start Date -->
                <div class="me-3">
                    <label for="start_date" class="form-label">Start Date</label>
                    <input type="date" id="start_date" name="start_date" class="form-control bg-dark text-white border-0 rounded">
                </div>
            
                <!-- End Date -->
                <div class="me-3">
                    <label for="end_date" class="form-label">End Date</label>
                    <input type="date" id="end_date" name="end_date" class="form-control bg-dark text-white border-0 rounded">
                </div>
                
                <!-- Category Field -->
                <div class="me-3">
                    <label for="category" class="form-label">Category</label>
                    <select id="category" name="category" class="form-control bg-dark text-white border-0 rounded">
                        <option value="" disabled selected>Select Category</option>
                        {% for category in expense_categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <!-- Submit Button -->
                <div>
                    <label for="end_date" class="form-label">Apply Filter</label>
                    <button type="submit" class="form-control bg-success text-white border-0 rounded">Submit</button>
                </div>
            </form>
            
            <hr>

            <div class="table-responsive">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Category</th>
                            <th scope="col">Date</th>
                            <th scope="col">Description</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in expense_obj %}  
                        <tr class="text-white-50">
                            <th scope="row">{{expense.id}}</th>
                            <td>₹{{expense.amount}}</td>
                            <td><span class="badge rounded-pill bg-success">{{expense.category}}</span></td>
                            <td>{{expense.date}}</td>
                            <td>{{expense.description}}</td>
                            <td><a href="{% url 'expense-update' expense.id %}" style="text-decoration: none">Update/Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
            
            <!-- Total and View All Link -->
            <hr class="my-2">
            <div class="d-flex justify-content-between mt-3">
                <p class="mb-0 text-danger">Total Expenses: ₹{{ request.user.total_expense }}</p>
            </div>
        </div>
    </div>
</div>


<script>
    
</script>

{% endblock %}