{% extends 'base.html' %}
{% block title %}EMI{% endblock %}

{% block content %}

<hr class="my-4">


<!-- start Messages Block -->
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-light text-dark alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
<!-- End Messages Block -->


<!-- Expenses Section (Full Width) -->
<div class="row">
    <div class="col-12 mb-4">
        <div class="card text-white shadow-sm p-4">
            <div class="d-flex justify-content-between">
                <h4 class="card-title mb-0">All EMI</h4>
                <div class="d-flex flex-column flex-sm-row gap-2">
                    <a href="{% url 'emi-add' %}" class="btn btn-sm btn-success">Add EMI</a>
                    <a href="{% url 'category-add' %}" class="btn btn-sm btn-success">Add Category</a>
                </div>
            </div>            
            
            <hr>

            <div class="table-responsive">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Next Payment Date</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Description</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emi in emis %}  
                        <tr class="text-white-50">
                            <th scope="row">{{emi.id}}</th>
                            <td>₹{{emi.amount}}</td>
                            <td>{{emi.start_date}}</td>
                            <td>{{emi.end_date}}</td>
                            <td>{{emi.next_payment_date}}</td>
                            <td>{{emi.frequency}}</td>
                            <td>{% if emi.description %}  {{emi.description}} {% else %}  None  {% endif %}</td>
                            <td>
                                <a href="{% url 'emi-update' emi.id %}"><span class="material-icons-outlined">update</span></a>
                                <a href="{% url 'emi-delete' emi.id %}"><span class="material-icons-outlined">delete</span></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
            
            <!-- Total and View All Link -->
            <hr class="my-2">
            <div class="d-flex justify-content-between mt-3">
                <p class="mb-0 text-danger">Total EMIs: ₹{{request.user.total_emi}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}