{% extends 'base.html' %}
{% load static %}
{% block title %}Update EMI{% endblock %}

{% block content %}
<hr class="my-4">

<div class="d-flex justify-content-center align-items-center mb-5">
    <div class="card text-white shadow-sm p-4" style="width: 100%; max-width: 500px;">
        <h4 class="text-center mb-4">Update EMI</h4>

        <form method="POST">
            {% csrf_token %}

            <!-- start Messages Block -->
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-light text-dark alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
            <!-- End Messages Block -->

            

            <!-- Amount Field -->
            <div class="mb-3">
                <label class="form-label">Amount</label>
                <input type="number" step="0.01" name="amount" value="{{emi.amount}}" class="form-control bg-dark text-white border-0 rounded" required>
            </div>

        

            <!-- Description Field -->
            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea name="description" class="form-control bg-dark text-white border-0 rounded">{{emi.description}}</textarea>
            </div>
            
            
            <!-- Frequency Field -->
            <div class="mb-3">
                <label class="form-label">Frequency</label>
                <select name="frequency" class="form-select bg-dark text-white border-0 rounded" required>
                    <option value="" disabled>Select Frequency</option>
                    <option value="Monthly" {% if emi.frequency == "Monthly" %}selected{% endif %}>Monthly</option>
                    <option value="Weekly" {% if emi.frequency == "Weekly" %}selected{% endif %}>Weekly</option>
                    <option value="Quarterly" {% if emi.frequency == "Quarterly" %}selected{% endif %}>Quarterly</option>
                </select>
            </div>


            
            <!-- Date Field -->
            <div class="mb-3">
                <label class="form-label">Start Date</label>
                <input type="date" name="start_date" value="{{emi.start_date|date:'Y-m-d'}}" class="form-control bg-dark text-white border-0 rounded" required>
            </div>

            <!-- Date Field -->
            <div class="mb-3">
                <label class="form-label">End Date</label>
                <input type="date" name="end_date" value="{{emi.end_date|date:'Y-m-d'}}" class="form-control bg-dark text-white border-0 rounded" required>
            </div>
            
            <!-- Date Field -->
            <div class="mb-3">
                <label class="form-label">Next Payment Date</label>
                <input type="date" name="next_payment_date" value="{{emi.next_payment_date|date:'Y-m-d'}}" class="form-control bg-dark text-white border-0 rounded" required>
            </div>


            <!-- Submit Button -->
            <button type="submit" class="btn btn-success mb-3 w-100">Update EMI</button>

            <a href="{% url 'emi-delete' emi.id %}" class="btn btn-danger mb-3 w-100">Delete</a>

        </form>
    </div>
</div>

{% endblock %}
