{% extends 'base.html' %}
{% load static %}
{% block title %}Add Category{% endblock %}

{% block content %}
<hr class="my-4">

<div class="d-flex justify-content-center align-items-center mb-5">
    <div class="card text-white shadow-sm p-4" style="width: 100%; max-width: 500px;">
        <h4 class="text-center mb-4">Add Category</h4>

        <form method="POST">
            {% csrf_token %}

            <!-- start Messages Block -->
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-light text-dark alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
            <!-- End Messages Block -->

            <div class="mb-3">
                <label class="form-label">Name</label>
                <input name="name" class="form-control bg-dark text-white border-0 rounded" required>
            </div>

            <div class="mb-3">
                <select name="category" class="form-control bg-dark text-white border-0 rounded" required>
                    <option value="" disabled selected>Select Category</option>
                    {% for value, label in category_types %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-success mb-3 w-100">Add Category</button>

        </form>
    </div>
</div>

{% endblock %}
