{% extends 'base.html' %}
{% load static %}
{% block title %}Generate Report{% endblock %}

{% block content %}
<hr class="my-4">

<div class="d-flex justify-content-center align-items-center mb-5">
    <div class="card text-white shadow-sm p-4" style="width: 100%; max-width: 500px;">
        <h4 class="text-center mb-4">Generate Report</h4>

        <form method="POST">
            {% csrf_token %}

            <!-- Frequency Field -->
            <div class="mb-3">
                <label class="form-label">Frequency</label>
                <select name="frequency" class="form-select bg-dark text-white border-0 rounded" required>
                    <option value="" disabled selected>Select Frequency</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Quarterly">Quarterly</option>
                    <option value="Yearly">Yearly</option>
                </select>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-success mb-3 w-100">Generate</button>

        </form>
    </div>
</div>

{% endblock %}
