{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="vh-100 d-flex align-items-center justify-content-center text-light">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Text Section -->
            <div class="col-md-8 text-center text-md-start">
                <h1 class="display-4 fw-bold">Welcome to Expenso</h1>
                <p class="lead mt-3">
                    Your smart way to manage income and expenses. Stay organized and take control of your finances.
                </p>
                <div class="mt-4 text-center text-md-start">
                    {% if not request.user.is_authenticated %}
                    <a href="{% url 'login' %}" class="btn btn-success btn-lg me-3">Login</a>
                    <a href="{% url 'register' %}" class="btn btn-outline-light btn-lg">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
